@import '_settings'
@import 'roots-css/animation'

normalize()
base()

body
  padding 50px
  background red
  color white

ul
  ul(none)
  inline-list()
  
table
  table()
  
  td
    color black

.butan
  simple-button(blue)
  hover-pop 1.2 15deg true
  transition 0.2s all ease-in-sine

h1
  animation 1s bounce infinite